<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <!-- Latest compiled and minified CSS & JS -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- <script src="../../static/bar.js"></script> -->
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
    <link rel="stylesheet" href="../../static/style_about.css">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    
</head>
<body>
    <div class="jumbotron">
        <div class="head">
            <h1>THE <img src="../../static/images/HP-3-11.svg" style="width: 140px;"> PROJECT</h1>
        </div>
        <div class="container">
            <div class="row-categories">
                <div class="col-md-3">
                    <h4 class="timeline"> <a href="timeline.html">TIMELINE</a> </h4> 
                </div> 
                <div class="col-md-3">
                    <h4 class="tree"> <a href="tree.html">FAMILY TREE</a></h4> 
                </div>     
                <div class="col-md-3">
                    <h4 class="sentiment"> <a href="sentiment.html">SENTIMENT</a></h4> 
                </div>     
                <div class="col-md-3">
                    <h4 class="about"> <a href="#">ABOUT</a></h4> 
                </div>  
            </div>
        </div>      
    </div>

    <div class="container">
        <div class="row" id="names">
            <div class="col-md-4">
                <h1>Sharanya Banavar</h1>
            </div>
            <div class="col-md-4">
                <h1>Paul Rizzuto</h1>
            </div>
            <div class="col-md-4">
                <h1>Sean Slavin</h1>
            </div>
        </div>
        <div class="row" id="images">
            <div class="col-md-4">
                <center><img src="http://c-7npsfqifvt34x24wjhofuufx2ex78jljbx2eopdppljfx2eofu.g00.wikia.com/g00/3_c-7ibsszqpuufs.x78jljb.dpn_/c-7NPSFQIFVT34x24iuuqtx3ax2fx2fwjhofuuf.x78jljb.opdppljf.ofux2fibsszqpuufsx2fjnbhftx2f6x2f61x2f1.62_Ivggmfqvgg_Dsftu_Usbotqbsfou.qohx2fsfwjtjpox2fmbuftux2ftdbmf-up-x78jeui-epx78ox2f544x3fdcx3d31272131293629x26j21d.nbsl.jnbhf.uzqf_$/$/$/$/$/$/$/$/$/$" alt="Hufflepuff"></center>
            </div>
            <div class="col-md-4">
                <center><img src="http://c-7npsfqifvt34x24wjhofuufx2ex78jljbx2eopdppljfx2eofu.g00.wikia.com/g00/3_c-7ibsszqpuufs.x78jljb.dpn_/c-7NPSFQIFVT34x24iuuqtx3ax2fx2fwjhofuuf.x78jljb.opdppljf.ofux2fibsszqpuufsx2fjnbhftx2f6x2f61x2f1.62_Ivggmfqvgg_Dsftu_Usbotqbsfou.qohx2fsfwjtjpox2fmbuftux2ftdbmf-up-x78jeui-epx78ox2f544x3fdcx3d31272131293629x26j21d.nbsl.jnbhf.uzqf_$/$/$/$/$/$/$/$/$/$" alt="Hufflepuff"></center>
            </div>
            <div class="col-md-4">
                <center><img src="http://c-7npsfqifvt34x24wjhofuufx2ex78jljbx2eopdppljfx2eofu.g00.wikia.com/g00/3_c-7ibsszqpuufs.x78jljb.dpn_/c-7NPSFQIFVT34x24iuuqtx3ax2fx2fwjhofuuf.x78jljb.opdppljf.ofux2fibsszqpuufsx2fjnbhftx2f9x2f9fx2f1.42_Hszggjoeps_Dsftu_Usbotqbsfou.qohx2fsfwjtjpox2fmbuftux2ftdbmf-up-x78jeui-epx78ox2f543x3fdcx3d31272235185115x26j21d.nbsl.jnbhf.uzqf_$/$/$/$/$/$/$/$/$/$" alt="Gryffindor"></center>
            </div>
        </div>
        <!-- <div class="row" id="patronus">
            <div class="col-md-4">
                <p>Patronus: Red Squirell</p>
            </div>
            <div class="col-md-4">
                <p>Patronus: Neelung Cat</p>
            </div>
            <div class="col-md-4">
                <p>Patronus: Dolphin</p>
            </div>
        </div> -->
    </div>
    
</body>
</html>